<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
  
  <h1>{{title}}</h1>


 <div>
  <button class="green " type="button">Add </button>
<button type="button" class="red">Delete </button>
</div>
<table id="customers" >
    <tr>
      <th>userId</th>
      <th>id</th>
      <th>title</th>
      <th>body</th>
    </tr>
    <tr *ngFor="let data of info">
      <td>{{data.id}}</td>
      <td>{{data.userId}}</td>
      <td>{{data.title}}</td>
      <td>{{data.body}}</td>
    </tr>
  </table>